@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #f6f6f6;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #565656;
  border-left: 2px solid rgba(13, 13, 13, 0.9);
  border-right: 2px solid rgba(13, 13, 13, 0.9);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 2px solid #565656;
  border-radius: 100px;
}

.transition-enter {
  opacity: 0.01;
  transform: scale(0.75);
}
.transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 350ms ease-out;
}

.transition-exit {
  opacity: 1;
  transform: scale(1);
}
.transition-exit-active {
  opacity: 0.01;
  transform: scale(0.95);
  transition: all 350ms ease-out;
}
